body{
    padding:1rem;
    box-sizing: border-box;

    .flag-key{
        font-weight:bold;
        color: #999;
    }

    .flag-value{
        font-weight:bold;
        margin-left: 5px;
        color: #999;
    }

    .some-margin{
        margin:10px;
    }

    .some-padding{
        padding:10px;
    }

    .example-icon-wrapper{
        display: inline-block;
        box-sizing: border-box;
        width: 25%;
    }

}
